.footer {
    background-color: map-get($map: $colores, $key: keyColor);
    font-weight: lighter;

    p {
        color: map-get($map: $colores, $key: colorWhite);
        font-size: 1.4em;
    }

    div {
        align-items: center;
    }
}

.telMail {
    @include flexbox(column, center, space-around);

    img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;
    }

    p {
        display: inline-block;
        margin: 5px;
    }

}


.telefono {
    @include flexbox(row, center, initial);
}

.mail {
    @include flexbox(row, center, initial);
}

.logoFooter {
    /*display: inline-block;*/
    @include iconoFooter(99%, 98%, 20%, 314deg, 104%, 100%, 72px, 71px);
    padding-bottom: 10px;
}

.divIconos {
    img {
        @include iconoFooter(99%, 98%, 20%, 314deg, 104%, 100%, 40px, 40px);
        margin-top: 5px;

        &:hover {
            @include iconoFooter(60%, 88%, 536%, 347deg, 103%, 91%, 40px, 40px);
        }
    }
}

.iconosFooter p {
    align-content: center;
    margin: 10px;
}