.contenidoTienda {
    padding-top: 130px !important;
    margin: 0 !important;
}

.contenedorGeneralTienda {
    margin: 0 !important;
}

.cardTienda {
    /* Card */
    @include flexbox(column, center, space-between);
    margin-bottom: 15px !important;

    img {
        opacity: 0.5;
        min-width: 65vw;
        max-height: calc(85vw);
        
        &:hover {
            opacity: 1;
            transition: 0.3s;
        }
    }



    h4,
    h3 {
        padding-top: 5px;
        font-weight: bold;
        font-size: 1.3em;
    }

    h4 {
        text-transform: uppercase;
    }

    h5 {
        padding-top: 5px;
        font-size: 1.7em;
    }

    a {
        @include flexbox(column, initial, center);
        border-radius: 30px;
        background-color: map-get($map: $colores, $key: mainColor);
        border: 4px solid map-get($map: $colores, $key: mainColorDark);
        color: map-get($map: $colores, $key: colorWhite);
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px;
        margin-left: auto;
        text-decoration: none;

        &:hover {
            background-color: map-get($map: $colores, $key: mainColorDark);
            transition: 0.3s;
        }
    }
}